*{
    margin: 0;
    padding: 0;
}

img, input, textarea {
    border: none;
    outline: none;
}

#fixPara {
    /* position:fixed; */
    width: 100%;
    z-index: 9999;
}
.g-fid {
    position: relative;
    z-index: 10000;
    font-size: 14px;
}
.g-her-top {
    height: 45px;
    background-color: #f1efeb;
    border-top: 1px solid #e6e5e4;
    border-bottom: 1px solid #e6e5e4;
    position: relative;
    z-index: 9999;
}
.g-cer-blk {
    width: 1500px;
    height: auto;
    margin: 0 auto;
}
.g-left {
    float: left;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.mob{
    font-size: 20px;
    
}
.g-left, .g-right {
    height: 36px;
    line-height: 36px;
}

.g-left > li, .g-right > li {
    float: left;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight:bold ;
    text-align: left;
    background: #fff;
}

.g-right {
    float: right;
}
.g-mobile a {
    padding: 0 0 0 16px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJqLcRYZ_M9O4muPg5-sB2JbgYpr3ud_tZAQ&usqp=CAU) no-repeat left center;
    background-size: 12px 18px;
}
.g-right a {
    color: #2577e3;
     font-weight: bold; 
}
.home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.g-mobile .QrCode {
    width: 460px;
    padding-top: 15px;
    border: 1px solid #ccc;
    position: absolute;
    left: -275px;
    display: none;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    height: 135px;
}
.g-mobile .QrCode div {
    float: left;
    margin: 0 20px;
}
.g-mobile .QrCode img {
    height: 100px;
    margin-bottom: 5px;
}
.g-mobile .QrCode p {
    margin-top: -10px;
    font-weight: bold;
    font-size: 12px;
}
/* a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
} */
.g-right > li + li {
    padding: 0 0 0 28px;
}
.g-left > li, .g-right > li {
    float: left;
    position: relative;
}
ul, ol, li {
    list-style: none;
}
.HotLine span {
    font-size: 20px;
    font-weight: bold;
    color: #1457b0;
}
.g-right > li + li:before {
    left: 12px;
}
.g-left > li + li:before, .g-right > li + li:before {
    display: block;
    content: '|';
    position: absolute;
    font-size: 12px;
    top: -1px;
    color: #cdb896;
}

.g-header {
    
    margin: 0;
    height: 100px;
    background: #faf7f1;
    position: relative;
    z-index: 9998;
}

.g-logo {
    width: 498px;
    height: 58px;
    padding: 16px 0 16px 0;
    
}
 h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 
.g-my-logo {
    float: left;
    width: 362px;
    height: 58px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbNUo7Du0AiYeNKcBocbWzvDluUYkt6ABMSg&usqp=CAU) no-repeat left center;
 
}
 .g-lgright {
    float: right;
    width: 372px;
    height: 90px;
    
}

.g-lgright .g-top {
   
    width: 372px; 
    height: 50px; 
    padding: 24px 0 4px;  
    text-align: right;
}   
 .g-lgright .g-top img {
    height: 50px;
    
}   
.menuBar {
    background-color: #1f8eb9;
}
.mcent {
    width: 1700px;
    margin: 0 auto;
}
.menuBar .menuBarLeft {
    width: 800px;
    float: left;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menuBar .menuBarLeft > ul > li{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
}
.menuBar .menuBarLeft > ul > li:hover{
    background: #29c3df;
}
.menuBar .menuBarLeft > ul > li {
    float: left;
    margin-right: 2px;
    padding: 10px 20px;
}
.menuBar .menuBarLeft > ul > li > a {
    /* font-size: 16px; */
    display: block;
    color: #fff;
}
.menuBar .menuBarLeft > ul > li > ul {
    display: none;
    box-shadow: 0 2px 8px #ccc;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    height: 372px;
    position: absolute;
    z-index: 999;
    left: 0;
    margin-top: 10px;
}
.menuBar .menuBarLeft .submenuBox {
    width: 1200px;
    margin: 0 auto;
}
.menuBar .boxLeft {
    width: 10%;
    float: left;
}
.menuBar .boxRight {
    width: 90%;
    float: left;
    padding-top: 20px;
}
.menuBar .boxRight .rightBoxL {
    width: 60%;
    float: left;
}
.menuBar .boxRight .rightBoxL .menuListBox {
    width: 142px;
    float: left;
    margin-right: 20px;
}
.menuBar .boxRight .rightBoxL .menuListBox .title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
.menuBar .boxRight .rightBoxL .menuListBox hr {
    margin-bottom: 15px;
}
.menuBar .boxRight .rightBoxL .menuListBox ul li {
    margin-bottom: 10px;
}
.menuBar .boxRight .rightBoxL .menuListBox ul li a {
    color: #555;
}
.clearfix {
    clear: both;
}
.menuBar .boxRight .rightBoxR {
    width: 40%;
    float: left;
}
.menuBar .rightBoxRabroad .projectBoxLink {
    width: 423px;
    height: 104px;
    margin: 0 5px 10px 5px;
    padding-right: 10px;
}
.menuBar .menuBarRight {
    width: 400px;
    float: left;
}
.menuBarRight > ul {
    float: right;
}
.menuBarRight > ul > .jqMenu {
    background: #f77f45;
}
.menuBarRight > ul > .jqMenu a {
   /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmMRpi3f5vsyCnoOy-3UWEfsGt8-oPybXTaA&usqp=CAU) center left no-repeat;  */
    padding-left: 25px;
}
.menuBarRight > ul li a {
    font-size: 16px;
    color: #fff;
}
.menuBarRight > ul > li {
    float: left;
    padding: 10px 24px;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLWk_5ybXKPLeFFGmcq2oIbLMwRarDFIdjYg&usqp=CAU) center right no-repeat; */
    position: relative;
}
.menuBar .menuBarRight > ul > li > ul {
    display: none;
    box-shadow: 0 2px 8px #5c5c5c;
    background-color: rgba(255,255,255,0.98);
    position: absolute;
    z-index: 999;
    left: 0;
    margin-top: 10px;
}
.menuBar .menuBarRight > ul > li > ul li {
    padding: 5px 0;
}

.mob{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.home{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}